<div class="Form">
    <div class="form-container">
      <h1 style="text-align: center;">
        <span style="color:dodgerblue;">F</span>
            <span style="color: red;">u</span>
            <span style="color:yellow;">n</span>
            <span style="color: dodgerblue;">d</span>
            <span style="color:limegreen;">o</span>
            <span style="color:darkcyan;">o</span>
            <span style="color:dodgerblue;"> N</span>
            <span style="color:aquamarine;">o</span>
            <span style="color:springgreen;">t</span>
            <span style="color:violet;">e</span>
            <span style="color:yellowgreen;">s</span></h1>
    <h2 style="text-align: center;">
        <span style="color: red;">F</span>ind Your Password</h2>
        <h4 style="text-align: center;">
          <span style="color: red;">E</span>nter Recovery Mail or Mobile Number</h4> 
          <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onForgotPassword()">
     <p>
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Mail or Mobile Number" formControlName="Email">
    </mat-form-field>
    <button  style="margin-left: 100px;border: 0px ;padding: 2px;background-color: cornflowerblue; color:white;margin-left: 225px;" mat-button>Submit</button>
     </p>
    </form>
</div>
</div>
