
.form{
  width: 600px;
  
 
}
.sidenav{
  margin-left: 60px;
  min-height: 500px;
}
.mat-drawer-backdrop.mat-drawer-shown {
 // background-color: transparent;
 visibility: hidden;
}
.search{
  margin-left: 320px; 
}





