<body class="Notes">
    <mat-card>
        <mat-card-content>
        <div *ngIf="isValid; then Create_Notes else Take_Notes"></div>
        <ng-template #Create_Notes>   
            <div class="CreateNotes">
                <input class="title" type="text" placeholder="Take a Note" (click)="isValid = !isValid">
                <span class="button">
                    <button mat-icon-button><img src="assets/check_box.png"></button>
                    <button mat-icon-button><img src="assets/brush.png"></button>
                    <button mat-icon-button><img src="assets/image.png"></button>
                </span>
            </div>
        </ng-template> 
    
        <ng-template #Take_Notes>
            <form [formGroup]="NotesForm" (ngSubmit)="onNote()"> 
                <div class="TakeNotes">
                    <div>
                        <input type="text" class="title2" placeholder="Title" formControlName="title">
                        <button mat-icon-button class="pin"><img src="assets/push_pin.png"></button>
                    </div>
                    <div>
                        <input type="text" class="Note" placeholder="Take a Note" formControlName="note">
                        <div class="icons">
                            <button mat-icon-button><img src="assets/add_alert.png"></button>
                            <button mat-icon-button><img src="assets/archive.png"></button>
                            <button mat-icon-button><img src="assets/person_add.png"></button>
                            <button mat-icon-button><img src="assets/palette.png"></button>
                            <button mat-icon-button><img src="assets/image.png"></button>
                            <button mat-icon-button><img src="assets/more_vert.png"></button>
                            <button mat-icon-button type="submit" class="close" >Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
    </mat-card-content>
    </mat-card>
    </body>
    