<div class="Form">
    <div class="form-container">
      <h2 style="text-align: center;">
        <span style="color:dodgerblue;">F</span>
        <span style="color: red;">u</span>
        <span style="color:yellow;">n</span>
        <span style="color: dodgerblue;">d</span>
        <span style="color:limegreen;">o</span>
        <span style="color:darkcyan;">o</span>
        <span style="color:dodgerblue;"> N</span>
        <span style="color:aquamarine;">o</span>
        <span style="color:springgreen;">t</span>
        <span style="color:violet;">e</span>
        <span style="color:yellowgreen;">s</span></h2>
    <h1 style="text-align: center;">
        <span style="color: red;">R</span>eset Your Password</h1>
        <form [formGroup]="ResetPasswordForm" (ngSubmit)="onResetPassword()">
        <p>
            <mat-form-field appearance="outline" style="width: 300px">
              <mat-label>New_Password</mat-label>
              <input matInput placeholder="NewPassword" formControlName="password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" style="width: 300px">
              <mat-label>Confirm_Password</mat-label>
              <input matInput placeholder="Confirm_NewPassword" formControlName="confirmPassword">
            </mat-form-field>
          </p>
          <button  style="border: 0px ;padding: 2px;background-color: cornflowerblue; color:white;margin-left: 225px;" mat-button>Submit</button>
        </form>
         
    </div>
</div>