.Form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}
.form-container {
width: 300px; 
height: 400px;
padding: 30px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
}